[submodule "test_helper/bats-assert"]
	path = test_helper/bats-assert
	url = git@github.com:bats-core/bats-assert.git
[submodule "test_helper/bats-support"]
	path = test_helper/bats-support
	url = git@github.com:bats-core/bats-support.git
